*{
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}
body{
    background-color: antiquewhite;
}
#navbar{
  background-color: black;
  height: 8vh;
  display: flex;
  align-items: center;
}
h1{
    text-align: center;
    color: red;
}
.sidebar{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 5px;
    height: 84vh;
    background-color:gray ;
}
.footer{
    height: 8vh;
    background-color: black;
    display: flex;
    align-items: center;
}
.card-content{
    height: 28vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border: 1px solid black;
    border-radius: 5px;
}
@media (max-width:992px){
   .sidebar{
    height: 10vh;
   } 
}
@media (max-width:768px){
    .sidebar{
        display: none;
    }
}
@media (max-width:576px){
    .card-content{
        margin: auto;
    }
}