.images {
  height: 80vh;
}
body {
  padding-top: 50px;
  font-family: "Raleway", sans-serif;
}
.hakkimizda{
  background-color: #f2f2f2;
}
.ayrac{
  border-top: 3px solid #1e2124 ;
  width: 250px;
  margin: 25px auto;
}
.ibeyaz{
color: #515961ec ;
position: relative;
top: -55px;
font-size: 40px;
border: 10px solid #f2f2f2;
background-color: #f2f2f2;

}
.teamcard>img:hover{
  opacity: 0.8;
}
.gallery{
  background-color: #f2f2f2;
}
.figure:hover{
opacity: 0.8;
}
.card-boy{
  height: 1rem;
}
.contact{
  background-color: #f2f2f2;
}

.input1{
  margin-right: 8rem;
  width: 40rem;
}
