#about{
    background-image: linear-gradient(to top, #db9a9a 0%, #13648a 100%);
}
.about{
    width: 700px;
    height: auto;
}
.icon{
    border-top: 3px solid #1e2124 ;
    width: 250px;
    margin: 25px auto;
    background-color: transparent;
}
.ibeyaz{
    color: #515961ec ;
    position: relative;
    top: -55px;
    font-size: 40px;
    border: 10px solid transparent;;
    background-color: transparent;
}