/*** <--- CIRCLE STYLES ---> ***/
.wrap-circles {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
}

.circle {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0.5rem;
    border-radius: 50%;
    background: #FFCDB2;
    overflow: hidden;
}
.circle.html {
  background-image: conic-gradient(#B5838D 90%, #FFCDB2 0);
  cursor: pointer;
}
.circle.css {
  background-image: conic-gradient(#B5838D 85%, #FFCDB2 0);
  cursor: pointer;
}
.circle.js {
  background-image: conic-gradient(#B5838D 60%, #FFCDB2 0);
  cursor: pointer;
}
.circle.react {
  background-image: conic-gradient(#B5838D 80%, #FFCDB2 0);
  cursor: pointer;
}
.circle.node {
  background-image: conic-gradient(#B5838D 50%, #FFCDB2 0);
  cursor: pointer;
}
.circle.english {
  background-image: conic-gradient(#B5838D 80%, #FFCDB2 0);
  cursor: pointer;
}
.circle.german {
  background-image: conic-gradient(#B5838D 60%, #FFCDB2 0);
  cursor: pointer;
}
.circle .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 115px;
  height: 115px;
  background: #000;
  border-radius: 50%;
  font-size: 1.85em;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.75);
}