html {
  scroll-behavior: smooth;
}
main{
    width: 100%;
    margin: auto;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}
#home, #blog, #contact,#projects,#skills{
    width: 100%;
    height: 100vh;
}
section:focus{
  display : block;
}




